[submodule "KineticEngine/vendor/GLFW"]
	path = KineticEngine/vendor/GLFW
	url = https://github.com/TheCherno/GLFW
[submodule "KineticEngine/vendor/imgui"]
	path = KineticEngine/vendor/imgui
	url = https://github.com/TheCherno/imgui
