# Directories
.vs/
**.sln
**.vcxproj
**.vcxproj.filters
**.vcxproj.user

**/bin/
!vendor/premake/bin/
bin-int/

# Files
*.user
**/imgui.ini

KEProfile-Runtime.json
KEProfile-Shutdown.json
Sandbox/KEProfile-Startup.json